/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
    height: 100%;
    z-index: 9999;
}

/* 
   * Optional: Makes the sample page fill the window. 
   */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.map {
    flex: 1;
}

.item-abrigo {
    /*border: 1px red solid;*/
    background-color: lightgrey;
    font-size: 25px;
    border-radius: 15px;
    margin: 10px;
}